.header-links-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    -webkit-text-fill-color:rgb(165, 47, 47);
    background-color: none;

}

.imagen{
    width: 100%
}

@media(min-width: 500px) {
    .imagen{
        width: 300px;
    }

}

